header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--dark);
  box-shadow: 0 2px 5px black;
}

header ul {
  display: flex;
}

header li {
  list-style: none;
  padding: 0.5rem;
}

header > span:hover {
  color: var(--text-secondary);
}
